# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# APK / Bundle
*.apk
*.aab

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/